<!DOCTYPE html>
<html>

<head>
    <title>Capture Customer Information</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Capture Customer Information</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ customer_form.as_p }} {{ financial_data_form.as_p }}
            <input type="file" name="excel_file">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>